{% extends "base.html" %}
{% load static %}

{% block nombre-pestaña %}
  <title> Inicio </title>
{% endblock %}

{% block links %}
  <link rel="stylesheet" href="{% static 'inicio.css' %}">
  <link rel="icon" type="image/svg+xml" href="../static/hive.svg">
{% endblock %}

{% block cabecera %}
  <div id="titulos-cabecera">
    <h2> Inicio </h2>
    <p> Resumen general del estado de las cotizaciones </p>
  </div>
{% endblock %}

{% block area-trabajo %}
  <!-- Área de Trabajo -->
  <section id="area-trabajo">
    <div id="contenedor-cotizaciones">
      
      <div id="superior">
        <article class="tarjeta-info">
          <h3>Dolar oficial compra</h3>
          <p>$ {{oficial.compra}}</p>
        </article>

        <article class="tarjeta-info">
          <h3>Dolar oficial venta</h3>
          <p>$ {{oficial.venta}}</p>
        </article>
      </div>

      <div id="inferior">
        <article class="tarjeta-info">
          <h3>Miel 34mm</h3>
          <p>$ 1000</p>
        </article>

        <article class="tarjeta-info"> 
          <h3>Miel 50mm</h3>
          <p>$ 1000</p>
        </article>

        <article class="tarjeta-info"> 
          <h3>Miel +50mm</h3>
          <p>$ 1000</p>
        </article>

        <article class="tarjeta-info"> 
          <h3>Cera Operculo</h3>
          <p>$ 1000</p>
        </article>

        <article class="tarjeta-info"> 
          <h3>Cera Recupero</h3>
          <p>$ 1000</p>
        </article>
      </div>

    </div>
  </section>
{% endblock %}