{% extends "base.html" %}
{% load static %}

{% block nombre-pestaña %}
<title>Mercado Libre</title>
{% endblock %}

{% block links %}
<link rel="stylesheet" href="{% static 'mercado_libre.css' %}">
{% endblock %}

{% block cabecera %}
<div id="titulos-cabecera">
  <h2>Envios de Mercado Libre</h2>
  <p>Seccion para visualizar el estado de los envios de paquetes</p>
</div>
{% endblock %}

{% block area-trabajo %}
<div id="area-trabajo-meli">
  <div class="cartel-construccion">
    <div class="cartel-construccion__icono">
      <span class="material-symbols-outlined">construction</span>
    </div>
    <h3>Apartado en construccion</h3>
    <p>Estoy trabajando en esta seccion.</p>
  </div>
</div>
{% endblock %}

{% block codigo-javascript %}
<script></script>
{% endblock %}