{% extends "base.html" %}
{% load static %}

{% block nombre-pestaña %}
<title>Mercado Libre</title>
{% endblock %}

{% block links %}
<link rel="stylesheet" href="{% static 'mercado_libre.css' %}">
{% endblock %}

{% block cabecera %}
<div id="titulos-cabecera">
  <h2>Repartos Mercado Libre</h2>
  <p>Seccion para visualizar el estado de los envios de paquetes</p>
</div>
{% endblock %}

{% block area-trabajo %}
<!-- ÁREA DE TRABAJO -->
<section id="area-trabajo-meli">
  
  <!-- Controles Superiores: Buscador + Boton nuevo -->
  <div class="barra-herramientas">
    <div class="grupo-busqueda">
      <div class="contenedor-buscador">
        <span class="material-symbols-outlined icono-busqueda">search</span>
        <input type="text" id="buscador-viajes-meli" class="input-busqueda" placeholder="Busca un viaje por vehiculo o chofer">
      </div>
    </div>

    <button id="nuevo-viaje-meli"> 
      <span class="material-symbols-outlined">local_shipping</span>
      <span class="boton-nuevo-reparto"> Nuevo reparto </span>
    </button>
  </div>

  <!-- Tabla de Viajes de reparto -->
  <div id="contenedor-tabla-viajes-meli">
    {% include 'tabla_viajes_mercado_libre.html' %}
  </div>

</section>
{% endblock %}

{% block codigo-javascript %}
<script></script>
{% endblock %}