<table id="tabla-viajes-meli">
  <thead id="cabecera-tabla">
    <tr>
      <th>Fecha</th>
      <th>Vehiculo</th>
      <th>Chofer</th>
      <th>Destinos</th>
    </tr>
  </thead>
  <tbody>
    <tr class="fila-tabla">
      <td>
        <span class="meli-fecha">
          <span class="material-symbols-outlined">calendar_today</span>
          10/05/26
        </span>
      </td>
      <td>
        <span class="meli-veh">
          <span class="meli-veh__tile">
            <span class="material-symbols-outlined">local_shipping</span>
          </span>
          <span class="meli-veh__info">
            <span class="meli-veh__nombre">Scannia 2011</span>
            <span class="meli-veh__pat">AB02QR</span>
          </span>
        </span>
      </td>
      <td>
        <span class="meli-chofer">
          <span class="meli-avatar">MA</span>
          <span class="meli-chofer__name">Miguel Arrieta</span>
        </span>
      </td>
      <td>
        <span class="meli-dest">
          <span class="material-symbols-outlined meli-dest__pin">location_on</span>
          <span class="meli-dest__first">Buenos Aires</span>
          <span class="meli-dest__more">+1</span>
        </span>
      </td>
    </tr>
    <tr class="fila-tabla">
      <td>
        <span class="meli-fecha">
          <span class="material-symbols-outlined">calendar_today</span>
          10/05/26
        </span>
      </td>
      <td>
        <span class="meli-veh">
          <span class="meli-veh__tile">
            <span class="material-symbols-outlined">local_shipping</span>
          </span>
          <span class="meli-veh__info">
            <span class="meli-veh__nombre">Scannia 2011</span>
            <span class="meli-veh__pat">AB02QR</span>
          </span>
        </span>
      </td>
      <td>
        <span class="meli-chofer">
          <span class="meli-avatar">MA</span>
          <span class="meli-chofer__name">Miguel Arrieta</span>
        </span>
      </td>
      <td>
        <span class="meli-dest">
          <span class="material-symbols-outlined meli-dest__pin">location_on</span>
          <span class="meli-dest__first">Buenos Aires</span>
          <span class="meli-dest__more">+1</span>
        </span>
      </td>
    </tr>
    <tr class="fila-tabla">
      <td>
        <span class="meli-fecha">
          <span class="material-symbols-outlined">calendar_today</span>
          10/05/26
        </span>
      </td>
      <td>
        <span class="meli-veh">
          <span class="meli-veh__tile">
            <span class="material-symbols-outlined">local_shipping</span>
          </span>
          <span class="meli-veh__info">
            <span class="meli-veh__nombre">Scannia 2011</span>
            <span class="meli-veh__pat">AB02QR</span>
          </span>
        </span>
      </td>
      <td>
        <span class="meli-chofer">
          <span class="meli-avatar">MA</span>
          <span class="meli-chofer__name">Miguel Arrieta</span>
        </span>
      </td>
      <td>
        <span class="meli-dest">
          <span class="material-symbols-outlined meli-dest__pin">location_on</span>
          <span class="meli-dest__first">Buenos Aires</span>
          <span class="meli-dest__more">+1</span>
        </span>
      </td>
    </tr>
    <tr class="fila-tabla">
      <td>
        <span class="meli-fecha">
          <span class="material-symbols-outlined">calendar_today</span>
          10/05/26
        </span>
      </td>
      <td>
        <span class="meli-veh">
          <span class="meli-veh__tile">
            <span class="material-symbols-outlined">local_shipping</span>
          </span>
          <span class="meli-veh__info">
            <span class="meli-veh__nombre">Scannia 2011</span>
            <span class="meli-veh__pat">AB02QR</span>
          </span>
        </span>
      </td>
      <td>
        <span class="meli-chofer">
          <span class="meli-avatar">MA</span>
          <span class="meli-chofer__name">Miguel Arrieta</span>
        </span>
      </td>
      <td>
        <span class="meli-dest">
          <span class="material-symbols-outlined meli-dest__pin">location_on</span>
          <span class="meli-dest__first">Buenos Aires</span>
          <span class="meli-dest__more">+1</span>
        </span>
      </td>
    </tr>
    <tr class="fila-tabla">
      <td>
        <span class="meli-fecha">
          <span class="material-symbols-outlined">calendar_today</span>
          10/05/26
        </span>
      </td>
      <td>
        <span class="meli-veh">
          <span class="meli-veh__tile">
            <span class="material-symbols-outlined">local_shipping</span>
          </span>
          <span class="meli-veh__info">
            <span class="meli-veh__nombre">Scannia 2011</span>
            <span class="meli-veh__pat">AB02QR</span>
          </span>
        </span>
      </td>
      <td>
        <span class="meli-chofer">
          <span class="meli-avatar">MA</span>
          <span class="meli-chofer__name">Miguel Arrieta</span>
        </span>
      </td>
      <td>
        <span class="meli-dest">
          <span class="material-symbols-outlined meli-dest__pin">location_on</span>
          <span class="meli-dest__first">Buenos Aires</span>
          <span class="meli-dest__more">+1</span>
        </span>
      </td>
    </tr>
  </tbody>
</table>

<div class="paginacion-meli">
  <div class="paginacion-meli__info">
    Mostrando <span>1-5</span> de <span>20</span> repartos
  </div>
  <div class="paginacion-meli__botones">
    <button class="boton-paginacion-meli" disabled>Anterior</button>
    <button class="boton-paginacion-meli">Siguiente</button>
  </div>
</div>
