<table id="tabla-viajes-meli">
  <thead id="cabecera-tabla">
    <th>Fecha</th>
    <th>Destinos</th>
    <th>Vehiculo</th>
    <th>Chofer</th>
  </thead>
  <tbody>
    <tr class="fila-tabla">
      <td>10/05/26</td>
      <td>Buenos Aires, Cordoba</td>
      <td>Scannia 2011 - AB02QR</td>
      <td>Miguel Arrieta</td>
    </tr>
    <tr class="fila-tabla">
      <td>10/05/26</td>
      <td>Buenos Aires, Cordoba</td>
      <td>Scannia 2011 - AB02QR</td>
      <td>Miguel Arrieta</td>
    </tr>
    <tr class="fila-tabla">
      <td>10/05/26</td>
      <td>Buenos Aires, Cordoba</td>
      <td>Scannia 2011 - AB02QR</td>
      <td>Miguel Arrieta</td>
    </tr>
    <tr class="fila-tabla">
      <td>10/05/26</td>
      <td>Buenos Aires, Cordoba</td>
      <td>Scannia 2011 - AB02QR</td>
      <td>Miguel Arrieta</td>
    </tr>
    <tr class="fila-tabla">
      <td>10/05/26</td>
      <td>Buenos Aires, Cordoba</td>
      <td>Scannia 2011 - AB02QR</td>
      <td>Miguel Arrieta</td>
    </tr>
  </tbody>
</table>